<b><small><span style="color: rgba(0, 0, 0, 0.5);"><a href="index.html"{% if page.file == "README.md" %} class="active"{% endif %}>PHOT 398 A</a></span></small>
<br>
<a href="index.html">AS SEEN ON SCREENS: <i>CYBERSPACE &amp; IMAGE ECONOMY</i></a></b><br>
<hr>
<br>
<small>Course</small><hr>
<a href="index.html"{% if page.file == "README.md" %} class="active"{% endif %}>Syllabus</a>
<br><a href="schedule.html"{% if page.file == "schedule.md" %} class="active"{% endif %}>Schedule</a>
<br><a href="resources.html"{% if page.file == "resources.md" %} class="active"{% endif %}>Resources</a><br><br>
<small>Assignments</small><hr>
<a href="assignments.html"{% if page.file == "assignments.md" %} class="active"{% endif %}>All Assignments</a><br>
<br><small>Links</small><hr>
<a href="https://moodle.concordia.ca/moodle/course/view.php?id=140707" target="_blank" rel="noopener">Moodle</a>
<br><a href="https://www.concordia.ca/faculty/adam-simms.html" target="_blank" rel="noopener">Instructor</a>
<br>
